<%= render 'shared/navbar' %>
<div class="container">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="search-box">
        <h2>Price Search</h1>
        <%= form_with(url: prices_path, method: :get, local: true) do %>
          <div class="form-group">
            <%= text_area_tag :model_numbers, params[:model_numbers], class: "form-control", rows: 20, placeholder: "Paste model numbers here, one per line or seperated by commas..." %>
            <%# <%= text_field_tag :query, params[:query], placeholder: "Type to search..." %>
          </div>
          <div class="d-flex justify-content-center">
            <%= submit_tag "Search", class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>

      <div class="search-results">
        <h2>Search Results</h2>
        <ul>
          <% if @prices.any? %>
            <% @prices.each do |price| %>
              <li>
                Model Number: <%= price.model_number %>
                Retail Price: <%= price.retail_price %>
                Cost: <%= price.cost_price %></li>
              </li>
            <% end %>
          <% else %>
            <p>No results found.</p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
