<%= form_with(url: prices_path, method: :get, local: true) do %>
  <%= text_field_tag :query, params[:query], placeholder: "Enter model numbers..." %>
  <%= submit_tag "Search" %>
<% end %>

<h2>Search Results</h2>
<ul>
  <% @prices.each do |price| %>
    <li><%= price.model_number %> - <%= price.retail_price %> - <%= price.cost_price %></li>
  <% end %>
</ul>
