<%= form_with(url: prices_path, method: :get, local: true) do %>
  <%= text_field_tag :query, params[:query], placeholder: "Enter model numbers..." %>
  <%= submit_tag "Search" %>
<% end %>

<h2>Search Results</h2>
<ul>
  <% if @prices.any? %>
    <% @prices.each do |price| %>
      <li>
        Model Number: <%= price.model_number %>
        Retail Price: <%= price.retail_price %>
        Cost: <%= price.cost_price %></li>
      </li>
    <% end %>
  <% else %>
    <p>No results found.</p>
  <% end %>
</ul>
